{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1><div class="contents">TMI</div></h1>
    <img src="{% static 'images/TMI.png' %}" alt="TMI" width="300px">
        <h3>
        <ul>
            <li>이름: 박서현</li>
            <li>나이: 22</li>
            <li>생년월일: 2003.09.19</li>
            <li>MBTI: INTJ</li>
            <li>좋아하는 음식: 고기</li>
            <li>성격: 좋음</li>
            <li>남자친구: 없음</li>
        </ul>
        </h3>
    <h2> 멋쟁이사자처럼 화이팅!!!!!!!</h2>
    <h2><a href="{% url 'main:new-post' %}">새 글 작성하기</a></h2>
    <div>
        {% for post in posts %}
        <div>
            <hr/>
            <h3>{{post.title}}</h3>
            {{post.writer}} | {{post.sex}} | {{post.pub_date}}<br>
            {{post.summary}}
            <a href="{% url 'main:detail' post.id %}">자세히 보기</a>
            <br>
        </div>
        {% endfor %}
    </div>
{% endblock %}