{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h1>#{{ tag.name }}가 달린 게시글 및 댓글</h1>
    <div>
        <h2>게시글</h2>
        {% for p in posts %}
        <hr/>
        <h3>{{p.title}}</h3>
        {{p.writer}} | {{p.pub_date}}<br>
        {{p.summary}}
        <a href="{% url 'main:detail' p.id %}">자세히 보기</a>
        <br>
        {% endfor %}
    </div>
    <div>
        <h2>댓글</h2>
        {% for comment in comments %}
        <hr/>
        <p>{{ comment.content }}</p>
        <p>작성자: {{ comment.writer }} | {{ comment.pub_date }} | 게시글: <a href="{% url 'main:detail' comment.post.id %}">{{ comment.post.title }}</a></p>
        {% endfor %}
    </div>
</div>

{% endblock %}